@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent

<root style="pointer-events: all;">
    <div class="crosshair" style="left: @(MouseX)px; top: @(MouseY)px;">
        <div class="line line-top"></div>
        <div class="line line-bottom"></div>
        <div class="line line-left"></div>
        <div class="line line-right"></div>
        <div class="dot"></div>
    </div>
</root>

@code
{
    private float MouseX { get; set; }
    private float MouseY { get; set; }

    protected override void OnUpdate()
    {
        base.OnUpdate();

        // Utilise Mouse.Position directement sans scaling
        var mousePos = Mouse.Position;
        MouseX = mousePos.x;
        MouseY = mousePos.y;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(MouseX, MouseY);
    }
}
