CrosshairHud {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    .crosshair {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        pointer-events: none;
        z-index: 1000;
    }

    .line {
        position: absolute;
        background-color: white;
    }

    .line-top {
        width: 2px;
        height: 10px;
        left: -1px;
        top: -15px;
    }

    .line-bottom {
        width: 2px;
        height: 10px;
        left: -1px;
        top: 5px;
    }

    .line-left {
        width: 10px;
        height: 2px;
        left: -15px;
        top: -1px;
    }

    .line-right {
        width: 10px;
        height: 2px;
        left: 5px;
        top: -1px;
    }

    .dot {
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: white;
        left: -1px;
        top: -1px;
    }
}
