@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace LastExit.UI
@inherits PanelComponent

<root style="pointer-events: all;">
    <div class="crosshair" style="left: @(MouseX)px; top: @(MouseY)px;">
        <div class="line line-top"></div>
        <div class="line line-bottom"></div>
        <div class="line line-left"></div>
        <div class="line line-right"></div>
        <div class="dot"></div>
    </div>
</root>

@code
{
    private float MouseX { get; set; }
    private float MouseY { get; set; }

    protected override void OnUpdate()
    {
        base.OnUpdate();

        // Récupère la caméra principale
        var camera = Scene.GetAllComponents<CameraComponent>().FirstOrDefault();

        if (camera != null)
        {
            // Convertit la position 3D du crosshair en coordonnées écran 2D
            var screenPos = camera.PointToScreenPixels(LastExit.CrosshairManager.TargetPosition);
            MouseX = screenPos.x;
            MouseY = screenPos.y;
        }

        // Debug : affiche la position dans la console
        // Log.Info( $"Crosshair: {MouseX}, {MouseY} | Screen: {Screen.Size}" );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(MouseX, MouseY);
    }
}
